@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #040D1C;
  --foreground: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xsm: 360px;
  --breakpoint-smm: 460px;
  --breakpoint-elg: 1160px;
  --breakpoint-xxl: 1350px; 
  --breakpoint-3xl: 1850px; 


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040D1C;
  --foreground: #eeeeee;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


html body{
  scroll-behavior: smooth;
}

.bitter-font{
  font-family: var(--font-bitter), serif;
}

.img {
  /* transition: all 0.2s ease 0s; */
  /* background-position-y: 0%; */
}

/* .scroll-div:hover > .img {
  -moz-animation: border-bounce 3000ms linear;
  -webkit-animation: border-bounce 3000ms linear;
} */

.scroll-img {
  background-position: center top;
  transition: background-position 6s ease; /* smooth scroll */
}

.scroll-img:hover {
  background-position: center bottom;
}

@-moz-keyframes border-bounce {
  0% {
    margin-top: -10px;
  }
  25% {
    margin-top: -50px;
  }
  50% {
    margin-top: -100px;
  }
  75% {
    margin-top: -50px;
  }
  100% {
    margin-top: -0px;
  }
}
@keyframes border-bounce {
  0% {
    margin-top: -10px;
  }
  25% {
    margin-top: -50px;
  }
  50% {
    margin-top: -100px;
  }
  75% {
    margin-top: -50px;
  }
  100% {
    margin-top: -0px;
  }
}

.primary-button {
  background-image: linear-gradient(to bottom right, #a42dff, #035ec0); /* bg-gradient-to-br */
  cursor: pointer; 
  z-index: 50; 
  color: #ffffff; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 1s ease; 
}

.primary-button:hover{
  background-image: linear-gradient(to bottom right, #9d2ef3, #0b55a5); 
}

/* for falling text bg color */
.falling-pill {
  @apply px-4 py-2 rounded-full text-white font-medium;
  background: linear-gradient(135deg, #ff80ab, #ff4081);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.falling-pill:nth-child(1n) {
  background: linear-gradient(135deg, #ff80ab, #ff4081); /* pink */
}
.falling-pill:nth-child(2n) {
  background: linear-gradient(135deg, #ffd54f, #ffca28); /* yellow */
}
.falling-pill:nth-child(3n) {
  background: linear-gradient(135deg, #4fc3f7, #29b6f6); /* blue */
}
.falling-pill:nth-child(4n) {
  background: linear-gradient(135deg, #81c784, #66bb6a); /* green */
}

